html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

body, html {
  min-height: 100%;
  line-height: 1;
  text-transform: none;
  text-rendering: auto;
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: none;
  -webkit-text-size-adjust: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

img,
fieldset,
a img {
  border: none; }

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  color: #fff;
  text-decoration: none; }
  a:active,
  a:hover {
    outline: 0;
    text-decoration: none; }

input[type="submit"],
button {
  cursor: pointer; }
  input[type="submit"]::-moz-focus-inner,
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }

textarea {
  overflow: auto; }

input, button {
  margin: 0;
  padding: 0;
  background: 0;
  border: 0; }

input,
textarea {
  resize: none;
  user-select: text; }

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #fff !important;
  color: #000 !important; }

input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none; }

ul {
  list-style-type: none; }

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%; }

td, th {
  padding: 0; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

label {
  cursor: pointer; }

.no-select {
  user-select: none; }

.clearfix:after, .events__item:after, .friends__item:after, .users:after, .msg__items:after, .msg_controls:after, .activity-input-group:after, .city-date-row:after, .modal__main:after {
  content: ' ';
  width: 0;
  height: 0;
  display: table;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  clear: both; }

.c-blue {
  color: #58a5ff; }
  .c-blue:hover {
    color: cornflowerblue; }

.animate, body, html, .m_inside, .p_inside, .btn, .filter__list, .msg__items, .modal-layout, .modal-company, .modal-event, .modal {
  transition: all 0.5s ease; }

.animate-transform {
  transition: transform 0.5s ease; }

.animate-opacity {
  transition: opacity 0.5s ease, visibility 0.5s ease; }

body {
  padding-bottom: 56px; }

.container {
  max-width: 1050px;
  padding: 0 10px;
  margin: 0 auto; }

/************************************************************************************
 *  header
 ************************************************************************************/
header {
  background: url("../images/design/bg-header.png");
  background-size: cover;
  height: 84px; }

.header_logo {
  position: absolute;
  top: 16px;
  left: 0;
  right: 0;
  margin: auto;
  width: 52px;
  height: 52px; }

/****************************************************************************************
 *drop-down menu
 *******************************************************************************************/
.header_menu {
  position: relative;
  height: 84px; }

.m_category {
  margin: 0 0 20px 0; }
  .m_category:first-child {
    padding-top: 10px;
    margin-bottom: 60px; }
  .m_category:last-child {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 40px;
    padding-top: 20px; }

.m_inside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 450px;
  overflow: hidden;
  text-decoration: none;
  background-image: linear-gradient(10deg, #234266 0%, #58a5ff 100%);
  box-shadow: 5.3px 4.6px 5px rgba(90, 98, 110, 0.46);
  transform: translate(-110%, 0);
  z-index: 10; }
  .m_inside.is-active {
    transform: translate(0, 0); }

.link_inside {
  display: block;
  padding: 0 0 0 85px;
  margin-left: 42px;
  height: 70px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 70px;
  font-size: 24px;
  font-weight: 900;
  background-position: 0 50%;
  background-repeat: no-repeat; }

.m_top_link {
  position: absolute;
  top: 50%;
  left: 16px;
  width: 45px;
  height: 34px;
  display: inline-block;
  text-decoration: none;
  background: url(../images/design/icon/icon-menu.png) no-repeat 50% 50%;
  transform: translate(0, -50%); }

/*******************************************************************
 *end of drop-down menu
 *******************************************************************/
/****************************************************************************************
 *drop-down profile
 *******************************************************************************************/
.header_profile {
  float: right; }

.p {
  position: relative;
  display: inline-block;
  height: 84px;
  line-height: 84px;
  margin-right: 20px; }

.p_inside {
  position: absolute;
  top: 100%;
  right: -12px;
  opacity: 0;
  visibility: hidden;
  padding: 31px 28px;
  line-height: 2;
  background-image: linear-gradient(10deg, #606873 0%, #58a5ff 100%);
  box-shadow: 0 7px 5px rgba(90, 98, 110, 0.46);
  z-index: 10; }

.p_categroy {
  display: inline-block; }

.p_link_inside {
  display: inline-block;
  text-decoration: none;
  font-size: 24px;
  font-weight: 300;
  line-height: 60px;
  color: #fff;
  cursor: pointer; }

.p_top_link {
  text-decoration: none;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  cursor: pointer; }

ul.p li.p_top:hover .p_inside {
  opacity: 1;
  visibility: visible; }

.login {
  width: 100px;
  height: 20px;
  margin-right: 20px;
  line-height: 84px;
  border-radius: 20px;
  text-align: center;
  background-color: gray; }

/****************************************************************************************
 *end drop-down profile
 *******************************************************************************************/
/************************************************************************************
 * end of header
 *************************************************************************************/
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 46px;
  margin-top: -46px;
  line-height: 46px;
  color: #c5c5c5;
  background: #fff;
  font-size: 16px;
  font-weight: 400; }
  footer .filter__list {
    font-size: 16px; }

.footer-site {
  margin-right: 28px; }

.footer-soc {
  float: right; }
  .footer-soc__item {
    width: 23px;
    height: 23px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px; }

.btn {
  width: 168px;
  height: 56px;
  line-height: 56px;
  border-radius: 27px;
  text-align: center;
  color: #58a5ff;
  font-size: 24px;
  font-weight: 300; }
  .btn:hover {
    color: #fff;
    background: #7DB1EE !important; }

.btn--blue {
  color: #fff;
  background-color: #58aeee; }

.btn-event {
  float: right;
  color: #fff;
  margin-bottom: 15px; }

.btn-two {
  height: 56px;
  margin-right: 28px;
  display: inline-block;
  overflow: hidden;
  border: 1px solid #58a5ff;
  border-radius: 27px;
  font-size: 0; }
  .btn-two > .btn.is-active {
    color: #fff;
    background-color: #58a5ff; }
  .btn-two > .btn {
    border-radius: 0; }

.icon-close {
  background-image: url(../../images/design/icon/icon-close.png); }

.icon-news {
  background-image: url(../../images/design/icon/icon-news.png); }

.icon-mail {
  background-image: url(../../images/design/icon/icon-mail.png); }

.icon-network {
  background-image: url(../../images/design/icon/icon-network.png); }

.icon-organization {
  background-image: url(../../images/design/icon/icon-organization.png);
  background-position: 3px 50%; }

.icon-map {
  background-image: url(../../images/design/icon/icon-map.png);
  background-position: 10px 50%; }

.icon-help {
  background-image: url(../../images/design/icon/icon-help.png); }

.icon-vk {
  background: url(../../images/design/icon/icon-vk.png) no-repeat 50% 100%; }

.icon-fb {
  background: url(../../images/design/icon/icon-fb.png) no-repeat 50% 100%; }

.filter-line {
  margin: 40px auto;
  line-height: 56px; }

.filter {
  position: relative;
  height: 56px;
  padding: 0 30px 0 0;
  margin-right: 26px;
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer; }
  .filter:after {
    content: '';
    position: absolute;
    top: 22px;
    right: 0;
    border-top: 7px solid #000;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 0; }
  .filter:hover .filter__list {
    opacity: 1;
    visibility: visible; }
  .filter--min {
    height: auto;
    padding: 0 15px 0 0;
    font-size: 16px;
    font-weight: 400; }
    .filter--min:after {
      top: 19px;
      border-top: 6px solid #c5c5c5;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent; }
    .filter--min .filter__list {
      top: auto;
      left: -1px;
      right: auto;
      bottom: 100%;
      padding: 15px 10px 8px 6px;
      border: 1px solid rgba(219, 219, 219, 0.61);
      box-shadow: 2.3px 3.3px 5px rgba(0, 0, 0, 0.29); }
      .filter--min .filter__list__item {
        padding: 0;
        margin: 0 0 14px; }
        .filter--min .filter__list__item:before {
          display: none; }

.filter__list {
  position: absolute;
  top: 100%;
  right: -26px;
  padding: 27px 41px 0 27px;
  font-size: 24px;
  font-weight: 300;
  line-height: 48px;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: -0.8px 4.9px 5px rgba(0, 0, 0, 0.33); }
  .filter__list__item {
    position: relative;
    padding-left: 31px;
    margin-bottom: 30px;
    white-space: nowrap;
    line-height: 1;
    cursor: pointer; }
    .filter__list__item:last-child {
      bottom: 0; }
    .filter__list__item:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 14px;
      height: 14px;
      opacity: 0.15;
      background-color: #878787;
      border-radius: 2px;
      transform: translate(0, -50%); }
    .filter__list__item.is-active:before {
      background: url("../../images/design/check.png"); }
    .filter__list__item:hover {
      opacity: 0.6; }

.events, .friends {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 0; }

.events__item, .friends__item {
  padding: 15px 15px 60px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); }

.events__item__img, .friends__item__img {
  width: 18.54369%;
  margin-right: 5.53398%;
  float: left; }

.events__item__container {
  overflow: hidden; }

.events__item__info {
  position: relative;
  top: 7px;
  float: right;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap; }
  .events__item__info > address {
    display: inline-block; }

.events__item__title, .friends__item__name {
  width: 80%;
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 900; }

.events__item__text {
  margin-bottom: 30px;
  color: #767676;
  font-size: 18px;
  font-weight: 400; }

.events__item__users {
  float: left;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px; }

.users {
  margin-top: 12px; }

.users__list {
  width: 38px;
  height: 38px;
  margin-right: 20px;
  float: left;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 50%; }

.events__text-info {
  margin-top: 20px;
  line-height: 28px;
  font-size: 18px;
  font-weight: 400; }

.friends__item {
  padding: 15px 15px 15px 15px; }

.friends__item__container {
  overflow: hidden;
  position: relative; }

.friends__item__text {
  margin-bottom: 10px;
  color: black;
  font-size: 18px; }

.actions {
  position: absolute;
  top: 50%;
  right: 50px; }

.friends__action {
  display: block;
  color: #58a5ff;
  font-size: 18px;
  margin-bottom: 10px; }

/********************************************************
 Inbox/Outbox messages page -- START
 *******************************************************/
.link_message_type {
  display: inline-block;
  color: #505961;
  margin: 55px 10px 55px 0;
  font-size: 20px; }
  .link_message_type.is-active {
    color: #000000;
    font-weight: 600; }

.msg {
  border-top: 1px solid rgba(0, 0, 0, 0.05); }

.msg__items {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 0;
  position: relative;
  cursor: pointer; }
  .msg__items:hover {
    background-color: #F4F4F4; }
  .msg__items:hover a.icon_msg_item_delete {
    background-image: url("../img/mouseover-icon-msg-delete.png"); }

.msg_item_delete_wrap {
  display: block;
  position: relative;
  height: 40px; }

.icon_msg_item_delete {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 18px;
  height: 19px;
  background-image: url(../img/icon-msg-delete.png); }

.user_icon {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 30px 40px 25px;
  float: left;
  background-image: url(http://bit.ly/1LdzaZD);
  background-repeat: no-repeat;
  border-radius: 30px; }

.msg_item_container {
  overflow: hidden;
  width: 70%; }

.msg_time {
  display: none;
  position: absolute;
  right: 70px;
  color: lightgray; }

.msg_item_name {
  width: 80%;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 900; }

.msg_item_text {
  font-size: 18px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 19px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

/********************************************************
 Inbox/Outbox messages page -- END
 *******************************************************/
/*******************************************************
 Read message page -- START
 *******************************************************/
.msg__wrap {
  position: relative; }
  .msg__wrap > div ul li {
    display: none; }
  .msg__wrap > div ul li:nth-of-type(1) {
    display: block; }
  .msg__wrap:active > div ul li {
    display: block; }
    .msg__wrap:active > div ul li > span .icon_msg_item_delete {
      display: none; }
  .msg__wrap:active > div.msg__area {
    visibility: visible; }
  .msg__wrap:active > div .msg_time {
    display: block; }
  .msg__wrap:active > div .msg_item_text {
    overflow: visible;
    display: block; }
  .msg__wrap:active > div ul li:nth-last-of-type(1) {
    margin-bottom: 70px; }

.msg__area {
  position: absolute;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 0;
  background-color: #FBFBFB;
  padding-top: 40px;
  padding-bottom: 60px;
  visibility: hidden; }

.msg-box-input {
  width: 70%;
  display: block;
  margin: 0 0 20px 115px;
  overflow: hidden;
  word-wrap: break-word;
  height: 75px;
  border-color: #C9C9C9; }

.msg_controls {
  position: relative;
  width: 70%;
  margin-left: 115px; }

.send-msg-btn {
  width: 120px;
  line-height: 30px;
  border: solid 1px #4191eb;
  border-radius: 15px;
  color: #4191eb;
  float: left; }

.msg-attach {
  display: block;
  position: absolute;
  right: -4px;
  bottom: 10px;
  font-size: 14px;
  color: #4191eb; }

/***************************
 Read message page -- END
 ***************************/
.organization__item {
  padding: 15px; }

.g-maps {
  height: 500px; }

/************************************************************************************
 * Modal Window for Company
 *************************************************************************************/
.modal-layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  display: table;
  overflow: auto;
  opacity: 0.01;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.55);
  z-index: 1000;
  overflow-scrolling: touch;
  animation-duration: 1s;
  transform: translate3d(0, 0, 0); }
  .modal-layout.is-visible {
    opacity: 1;
    visibility: visible; }
    .modal-layout.is-visible > .modal-company {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, -50%, 0) scale(1); }

.modal-company {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 813px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 3px 0 rgba(0, 1, 1, 0);
  z-index: 1001;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, -50%, 0) scale(0.1); }
  .modal-company > h2 {
    padding-left: 40px;
    padding-top: 20px; }

.modal-company__wrap {
  width: 88%;
  margin: 0 auto;
  padding-bottom: 80px; }

.modal-company__form > span {
  clear: both;
  display: block;
  padding: 15px 0 5px 13px;
  color: #383838; }

.modal-company__form > label, .modal-company__form input[type="radio"] {
  font-size: 12px;
  float: left;
  line-height: 10px;
  margin-right: 8px;
  padding-left: 10px;
  color: #383838; }

.modal-company__form > textarea {
  width: 100%;
  border: 1px solid #383838; }

.modal-company__form > label:last-of-type {
  display: block;
  padding: 15px 0 0 10px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 18px;
  float: none;
  width: 100%; }
  .modal-company__form > label:last-of-type > input {
    margin-right: 15px;
    margin-bottom: 0; }

.activity-input-group > label {
  font-size: 12px;
  float: left;
  width: 20%;
  padding: 5px 0;
  line-height: 10px;
  color: #383838; }
  .activity-input-group > label > input {
    margin-right: 8px; }

.activity-input-group > label:nth-of-type(3n-2) {
  padding-left: 10px;
  clear: both; }

/************************************************************************************
 * Modal Window for event
 *************************************************************************************/
.modal-layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  display: table;
  overflow: auto;
  opacity: 0.01;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.55);
  z-index: 1000;
  overflow-scrolling: touch;
  animation-duration: 1s;
  transform: translate3d(0, 0, 0); }
  .modal-layout.is-visible {
    opacity: 1;
    visibility: visible; }
    .modal-layout.is-visible > .modal-event {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, -50%, 0) scale(1); }

.modal-event {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 813px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 3px 0 rgba(0, 1, 1, 0);
  z-index: 1001;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, -50%, 0) scale(0.1); }
  .modal-event > h2 {
    padding-left: 40px;
    padding-top: 20px; }

.modal-event__wrap {
  width: 88%;
  margin: 0 auto;
  padding-bottom: 80px; }

.modal-event__form > span {
  display: block;
  padding: 15px 0 5px 13px;
  color: #383838; }

.modal-event__form > textarea, .modal-event__form input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #383838; }
  .modal-event__form > textarea[type=checkbox],
  .modal-event__form > textarea[type=radio], .modal-event__form input[type=checkbox],
  .modal-event__form input[type=radio] {
    width: auto; }

.modal-event__form > label:last-of-type {
  display: block;
  padding: 15px 0 0 10px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 18px;
  float: none;
  width: 100%; }
  .modal-event__form > label:last-of-type > input {
    margin-right: 15px;
    margin-bottom: 0; }

.city-block {
  width: 50%;
  float: left; }
  .city-block > label {
    font-size: 12px;
    float: left;
    line-height: 12px;
    margin: 0 8px 0 0;
    padding-left: 10px;
    color: #383838; }
    .city-block > label > input {
      font-size: 12px;
      float: left;
      line-height: 10px;
      margin: 0 8px 0 0;
      color: #383838; }
  .city-block > span {
    display: block;
    padding: 15px 0 5px 13px;
    color: #383838; }

.date-block {
  width: 50%;
  float: left; }
  .date-block > span {
    display: block;
    padding: 7px 0 5px 18px;
    color: #383838; }
  .date-block > input {
    width: 121px;
    height: 26px;
    border: 1px solid #383838;
    margin-left: 13px; }

.event-check-input-group:before {
  content: ' ';
  width: 0;
  height: 0;
  display: table;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  clear: both; }

.category-input-group {
  width: 50%;
  float: left;
  overflow: hidden; }
  .category-input-group > label {
    font-size: 12px;
    float: left;
    width: 30%;
    margin: 5px 5px;
    line-height: 12px;
    color: #383838; }
    .category-input-group > label > input {
      position: relative;
      top: 3px;
      margin-right: 8px; }
  .category-input-group > label:nth-of-type(3n-2) {
    margin-left: 10px;
    clear: both; }
  .category-input-group > span {
    display: block;
    padding: 15px 0 5px 13px;
    color: #383838; }

.skills-input-group {
  width: 50%;
  overflow: hidden; }
  .skills-input-group > label {
    font-size: 12px;
    float: left;
    width: 30%;
    margin: 5px 5px;
    line-height: 12px;
    vertical-align: middle;
    color: #383838; }
    .skills-input-group > label > input {
      position: relative;
      top: 3px;
      margin-right: 8px; }
  .skills-input-group > label:nth-of-type(odd) {
    padding-left: 10px;
    clear: both; }
  .skills-input-group > span {
    display: block;
    padding: 15px 0 5px 18px;
    color: #383838; }

/************************************************************************************
 * Modal window
 *************************************************************************************/
.modal-layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  display: table;
  overflow: auto;
  opacity: 0.01;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.55);
  z-index: 1000;
  overflow-scrolling: touch;
  animation-duration: 1s;
  transform: translate3d(0, 0, 0); }
  .modal-layout.is-visible {
    opacity: 1;
    visibility: visible; }
    .modal-layout.is-visible > .modal {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, -50%, 0) scale(1); }

.modal {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 365px;
  height: 355px;
  margin: 0 auto;
  background-color: #fff;
  border: 2px solid #58a5ff;
  border-radius: 2px;
  box-shadow: 0 3px 0 rgba(0, 1, 1, 0.15);
  z-index: 1001;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, -50%, 0) scale(0.1); }

.modal__main {
  padding: 31px 7.25806% 15px;
  color: #606060;
  font-size: 21px;
  font-weight: 400;
  line-height: 26px; }

.modal__main__img {
  width: 13.10484%;
  max-height: 90px;
  margin: -8px 25px 0 0;
  float: left; }

.modal__footer {
  padding: 12px 7.25806%;
  text-align: right;
  background-color: #fafafa;
  box-shadow: 0 -1px 0 #eee; }

.form_wrap {
  width: 287px;
  margin: 0 auto; }
  .form_wrap > p {
    font-size: 24px;
    text-align: center;
    width: 100%;
    margin: 17px 0;
    color: #383838; }

.modal-form > span {
  display: block;
  padding-left: 16px;
  margin: 8px 4px;
  color: #383838; }

.modal-form > a {
  display: block;
  text-align: right;
  color: #58a5ff;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 40px; }

.modal-form > button {
  display: block;
  margin: 0 auto;
  border-radius: 47px;
  background-color: #58a5ff;
  color: #fff;
  font-size: 22px;
  width: 285px;
  height: 47px; }

.modal-form > input {
  display: block;
  margin: 0 auto;
  border-radius: 47px;
  border: 1px solid;
  padding-left: 20px;
  font-size: 16px;
  width: 265px;
  height: 45px; }
  .modal-form > input:focus {
    border: 1px solid #58a5ff;
    box-shadow: inset 0px 0px 3px 1px rgba(88, 165, 255, 0.6); }
  .modal-form > input[type="password"] {
    background-image: url(../img/pass-icon.png);
    background-position: 20px center;
    background-repeat: no-repeat; }
    .modal-form > input[type="password"]:focus {
      background-position: -20px center; }

.ngdialog.ngdialog-theme-default {
  padding-bottom: 10px;
  padding-top: 10px; }

.ngdialog-content > h2 {
  padding: 37px 0 0 38px; }

.ngdialog.ngdialog-theme-default .ngdialog-content {
  background: #fff;
  border-radius: 5px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0 auto;
  max-width: 90%;
  padding: 0;
  width: 850px; }
