/************************************************************************************
 *  header
 ************************************************************************************/

header
  background: url(../pic/bg_header.png)
  width: 1366px
  height: 84px

.header_logo
  display: block
  margin: 0 auto
  width: 52px
  height: 52px

/****************************************************************************************
 *drop-down menu
 *******************************************************************************************/

.header_menu
  display: inline-block
  float: left

.m
  position: relative
  display: inline-block
  margin-right: 20px

.m_inside
  text-decoration: none
  position: absolute
  left: -9999px
  height: 1250px
  background-image: linear-gradient(10deg, black 0%, #58a5ff 100%)
  box-shadow: 5.3px 4.6px 5px rgba(90, 98, 110, 0.46)

.m_category
  display: inline-block
  padding: 10px
  height: 50px

.m_top
  display: inline-block

.link_inside
  display: inline
  text-decoration: none
  font-family: 'Lato'
  font-size: 24px
  font-weight: 900
  line-height: 65px
  text-transform: uppercase
  color: #fff
  white-space: nowrap

.ikon_close
  background-image: url(../pic/icon-close.png)
  background-repeat: no-repeat
  background-position: 0% 50%
  padding: 130px

.ikon_news
  background-image: url(../pic/icon-news.png)
  background-repeat: no-repeat
  background-position: 0% 50%
  padding: 130px

.ikon_mail
  background-image: url(../pic/ikon_mail.png)
  background-repeat: no-repeat
  background-position: 0% 50%
  padding: 130px

.ikon_network
  background-image: url(../pic/ikon_network.png)
  background-repeat: no-repeat
  background-position: 0% 50%
  padding: 130px

.ikon_organization
  background-image: url(../pic/ikon_organization.png)
  background-repeat: no-repeat
  background-position: 0% 50%
  padding: 130px

.ikon_map
  background-image: url(../pic/ikon_map.png)
  background-repeat: no-repeat
  background-position: 0% 50%
  padding: 130px

.ikon_help
  background-image: url(../pic/ikon_help.png)
  background-repeat: no-repeat
  background-position: 0% 50%
  padding: 130px

.m_top_link
  display: inline-block
  text-decoration: none
  background-image: url(../pic/icon-menu.png)
  background-repeat: no-repeat
  width: 42px
  height: 34px
  margin: 24px 44px 24px 44px

ul.m li.m_top:hover .m_inside
  display: block
  left: 0px
  top: 0

/*******************************************************************
 *end of drop-down menu
 *******************************************************************/

/****************************************************************************************
 *drop-down profile
 *******************************************************************************************/

.header_profile
  float: right

.p
  position: relative
  display: inline-block
  margin-right: 20px

.p_inside
  text-decoration: none
  position: absolute
  right: -9999px
  height: 202px
  background-image: linear-gradient(10deg, black 0%, #58a5ff 100%)
  box-shadow: 0 7px 5px rgba(90, 98, 110, 0.46)

.p_categroy
  display: inline-block

.p_top
  display: inline

.p_link_inside
  display: inline-block
  text-decoration: none
  font-family: 'Lato'
  font-size: 24px
  font-weight: 300
  line-height: 60px
  color: #fff

.p_top_link
  text-decoration: none
  width: 40px
  height: 40px
  background: gray
  border-radius: 30px

ul.p li.p_top:hover .p_inside
  display: block
  right: -20px
  top: 115px

/****************************************************************************************
 *end drop-down profile
 *******************************************************************************************/

/************************************************************************************
 * end of header
 *************************************************************************************/