
<footer>
    <div class="container">
        <span class="footer-site">Forsocial ©2015</span>

        <div class="filter filter--min">
            <span ng-bind="::language"></span>
            <ul class="filter__list">
                <li class="filter__list__item" ng-click="setLang('en')">English</li>
                <li class="filter__list__item" ng-click="setLang('ru')">Русский</li>
                <li class="filter__list__item" ng-click="setLang('ua')">Українська</li>
            </ul>
        </div>

        <div class="footer-soc">
            <a class="footer-soc__item icon-fb" href="https://www.facebook.com/www.forsocial.net?fref=ts&__mref=message"></a>
            <a class="footer-soc__item icon-vk" href="https://vk.com/for_social"></a>
        </div>
    </div>

</footer>