
<div class="header_menu">
	<a class="m_top_link" href="" ng-click="visibleMenu = visibleMenu ? false : true"></a>

	<ul class="m_inside" ng-class="{'is-active' : visibleMenu}">
		<li class="m_category"
			ng-click="visibleMenu = visibleMenu ? false : true">
			<a href=""
			   class="link_inside ikon_close"></a>
		</li>
		<li class="m_category">
			<a href="#/" class="link_inside ikon_news">заходи</a>
		</li>
		<li class="m_category">
			<a href="#/messages" class="link_inside ikon_mail">повідомлення</a>
		 </li>
		 <li class="m_category">
			<a href="#/friends" class="link_inside ikon_network">коло знайомств</a>
		 </li>
		 <li class="m_category">
			<a href="#/organizations" class="link_inside ikon_organization">організації</a>
		</li>
		<li class="m_category">
			<a href="#/map" class="link_inside ikon_map">мапа</a>
		</li>
		<li class="m_category">
			<a href="#/help" class="link_inside ikon_help">шукаю допомогу</a>
		</li>
	</ul>


	<div class="header_profile">
		<!--<a href="#" class="login">Увійти</a>-->
		<ul class="p">
			<li class="p_top">
				<img src="" alt="" class="p_top_link">
				<ul class="p_inside">
					<li class="">
						<a href=" " class="p_link_inside">Мій профіль</a>
					</li>
					<li class="">
						<a href="" class="p_link_inside">Налаштування</a>
					</li>
					<li class="">
						<a href=""class="p_link_inside">Вийти</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>

<img src="images/design/logo.png" alt="" class="header_logo">
