<header>

	<div class="header_menu">
		<a class="m_top_link"
		   href=""
		   ng-click="changeVisibleMenu()">
		</a>
		<h5 class="header_menu_title" ng-bind="page"></h5>

		<ul class="m_inside" ng-class="{'is-active' : visibleMenu}">
			<li class="m_category"
				ng-click="changeVisibleMenu()">
				<i class="link_inside icon-close"></i>
			</li>
			<li class="m_category">
				<a ng-href="#/"
				   ng-click="changeVisibleMenu()"
				   ng-bind="::lang.header.event"
				   class="link_inside icon-news"></a>
			</li>
			<!--<li class="m_category">-->
				<!--<a ng-href="#/messages"-->
				   <!--ng-click="changeVisibleMenu()"-->
				   <!--ng-bind="::lang.header.mess"-->
				   <!--class="link_inside icon-mail"></a>-->
			<!--</li>-->
			<li class="m_category">
				<a ng-href="#/friends"
				   ng-click="changeVisibleMenu()"
				   ng-bind="::lang.header.friend"
				   class="link_inside icon-network"> </a>
			</li>
			<li class="m_category">
				<a ng-href="#/organizations"
				   ng-click="changeVisibleMenu()"
				   ng-bind="::lang.header.organ"
				   class="link_inside icon-organization"></a>
			</li>
			<li class="m_category">
				<a ng-href="#/map"
				   ng-click="changeVisibleMenu()"
				   ng-bind="::lang.header.map"
				   class="link_inside icon-map"></a>
			</li>
			<li class="m_category">
				<a ng-href="#/help"
				   ng-click="changeVisibleMenu()"
				   ng-bind="::lang.header.help"
				   class="link_inside icon-help"></a>
			</li>
		</ul>


		<div class="header_profile">
			<ul class="p">
				<li class="p_top">
					<img src="" alt="" class="p_top_link">
					<ul class="p_inside">
						<li>
							<a class="p_link_inside"
							   ng-href="#/user/{{user.idUser}}"
							   ng-bind="::lang.header.profile"></a>
						</li>
						<!--<li>-->
							<!--<a class="p_link_inside"-->
							   <!--ng-href=""-->
							   <!--ng-bind="::lang.header.customise"></a>-->
						<!--</li>-->
						<li>
							<a class="p_link_inside"
							   ng-href=""
							   ng-click="logout()"
							   ng-bind="::lang.header.exit"></a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

	<img src="images/design/logo.png" alt="" class="header_logo">

</header>