<h2>Створення заходу</h2>

<div class="modal-event__wrap">
    <form class="modal-event__form" name="formAddEvent" ng-submit="addEvent()">
        <fieldset>
            <label>Назва заходу</label>
            <input type="text" class="event-name" ng-model="event.title"/>
        </fieldset>

        <br>

        <fieldset class="clearfix">
            <div class="col-2">
                <label>Фото</label>
                <upload-file url="event.cover"></upload-file>
            </div>

            <div class="col-2 city-date-row">
                <div class="city-block">
                    <span>Місто</span>
                    <label ng-repeat="item in city">
                        <input type="checkbox"
                               checklist-model="event.city"
                               checklist-value="item.idCity"/>
                        <span ng-bind="item.name"></span>
                    </label>
                </div>
            </div>
        </fieldset>

        <fieldset class="city-date-row">
            <label class="date-block">
                <span>Дата початку</span>
                <input type="datetime-local" ng-model="event.date_start"/>
            </label>
            <label class="date-block">
                <span>Дата кінця</span>
                <input type="datetime-local" ng-model="event.date_end"/>
            </label>
        </fieldset>

        <fieldset class="event-check-input-group clearfix">
            <div class="category-input-group">
                <span>Категорія</span>
                <label ng-repeat="category in categories">
                    <input type="checkbox"
                           checklist-model="event.categories"
                           checklist-value="category.idCategory"/>
                    <span ng-bind="category.name"></span>
                </label>
            </div>
            <div class="skills-input-group">
                <span>Необхідні навички</span>
                <label ng-repeat="skill in skills">
                    <input type="checkbox"
                           checklist-model="event.skills"
                           checklist-value="skill.idSkill"/>
                    <span ng-bind="skill.name"></span>
                </label>
            </div>
        </fieldset>

        <fieldset class="clearfix">
            <label class="date-block date-block--full">
                <span>Адреса</span>
                <input type="text" ng-model="event.address" required="required"/>
                <button class="button" type="button" ng-click="openMap()">Прив'язати подію на мапі</button>
            </label>
        </fieldset>

        <div class="g-maps g-maps--small" ng-if="visibleMap" g-map="setPoint"></div>

        <fieldset>
            <label>Опис</label>
            <text-angular class="event-description" cols="130" rows="12" ng-model="event.description"></text-angular>
        </fieldset>

        <label>
            <input type="checkbox" required="required"/>
            Я згоден з умовами використання ресурсу та даю згоду на обробку даних
        </label>

        <button type="submit"
                class="button btn-event btn--blue btn--big"
                ng-bind="::lang.btn.add"></button>
    </form>
</div>