<h2>Створення заходу</h2>

<div class="modal-event__wrap">
    <form class="modal-event__form" name="formAddEvent" ng-submit="addEvent()">
        <span>Назва заходу</span>
        <input type="text" class="event-name" ng-model="event.title"/>

        <div upload-file></div>

        <div class="city-date-row">
            <div class="city-block">
                <span>Місто</span>
                <label ng-repeat="item in city">
                    <input type="checkbox"
                           checklist-model="event.city"
                           checklist-value="item.idCity"/>
                    <span ng-bind="item.name"></span>
                </label>
            </div>
            <label class="date-block">
                <span>Дата початку</span>
                <input type="datetime-local" ng-model="event.date_start"/>
            </label>
            <label class="date-block">
                <span>Дата кінця</span>
                <input type="datetime-local" ng-model="event.date_end"/>
            </label>
        </div>

        <filedest class="event-check-input-group">
            <div class="category-input-group">
                <span>Категорія</span>
                <label ng-repeat="category in categories">
                    <input type="checkbox"
                           checklist-model="event.categories"
                           checklist-value="category.idCategory"/>
                    <span ng-bind="category.name"></span>
                </label>
            </div>
            <div class="skills-input-group">
                <span>Необхідні навички</span>
                <label ng-repeat="skill in skills">
                    <input type="checkbox"
                           checklist-model="event.skills"
                           checklist-value="skill.idSkill"/>
                    <span ng-bind="skill.name"></span>
                </label>
            </div>
        </filedest>

        <label class="date-block">
            <span>Longitude</span>
            <input type="text" ng-model="event.long" required="required"/>
        </label>
        <label class="date-block">
            <span>Latitude</span>
            <input type="text" ng-model="event.lat" required="required"/>
        </label>
        <label class="date-block">
            <span>Адреса</span>
            <input type="text" ng-model="event.address" required="required"/>
        </label>

        <span>Опис</span>
        <text-angular class="event-description" cols="130" rows="12" ng-model="event.description"></text-angular>

        <label>
            <input type="checkbox" required="required"/>
            Я згоден з умовами використання ресурсу та даю згоду на обробку даних
        </label>

        <button type="submit"
                class="button btn-event btn--blue btn--big"
                ng-bind="::lang.btn.add"></button>
    </form>
</div>