
.button
    @extend .animate
    min-width: 130px
    height: 38px
    padding: 0 10px
    box-sizing: border-box
    line-height: 38px
    border-radius: 19px
    text-align: center
    text-transform: none
    background-color: #58a5ff

    color: #fff
    font-size: 18px
    font-weight: 300

    &:hover
        color: #fff !important
        background: #7DB1EE !important

    + .button
        margin-right: 22px

.btn--blue
    color: #fff
    background-color: #58aeee

.btn-event
    float: right
    color: #fff
    margin-bottom: 15px


.btn-two
    height: 38px
    margin-right: 28px
    display: inline-block
    overflow: hidden
    line-height: 38px
    border: 1px solid #58a5ff
    border-radius: 19px
    font-size: 0

    > .button.is-active
        color: #fff
        background-color: #58a5ff

    > .button
        margin: 0
        color: #58a5ff
        border-radius: 0
        background-color: #fff