
<div class="container">

    <ul class="filter">
        <li class="filter__item">
            Місто
        </li>
        <li class="filter__item">
            Київ
        </li>
        <li class="filter__item">
            Одеса
        </li>
    </ul>

</div>


<div class="container">

    <ul class="events">

        <li class="events__item">
            <img src="images/img1.png" alt="" class="events__item__img"/>

            <article class="events__item__container">
                <div class="events__item__info">
                    <address>Київ,</address>
                    <time datetime="12.06.93">12 червня</time>
                </div>
                <h4 class="events__item__title">Прибирання тереторії</h4>
                <p class="events__item__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua.
                </p>
                <div class="events__item__users">
                    <p>30 учасників</p>
                    <ul class="users">
                        <li class="users__list" style="background: url('images/img1.png')"></li>
                        <li class="users__list" style="background: url('images/img1.png')"></li>
                        <li class="users__list" style="background: url('images/img1.png')"></li>
                        <li class="users__list" style="background: url('images/img1.png')"></li>
                        <li class="users__list" style="background: url('images/img1.png')"></li>
                    </ul>
                </div>
                <a href="#" class="btn btn-event btn--blue btn--big">Допомогти</a>
            </article>
        </li>

    </ul>

</div>