
<div class="container filter-line">

    <div class="filter">
        Місто
        <ul class="filter__list">
            <li class="filter__list__item">
                Київ
            </li>
            <li class="filter__list__item">
                Одеса
            </li>
        </ul>
    </div>

</div>

<div class="container">

    <ul class="events">

        <li class="events__item">
            <img src="images/img1.png" alt="" class="events__item__img"/>

            <article class="events__item__container">
                <div class="events__item__info">
                    <address>Київ,</address>
                    <time datetime="12.06.93">12 червня</time>
                </div>
                <h4 class="events__item__title">Прибирання тереторії</h4>
                <p class="events__item__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua.
                </p>
            </article>
        </li>

    </ul>

</div>