
<div class="container container-big">

    <article class="event">
        <h3 class="event__title">
            <span ng-bind="event.title"></span>
            <button
                    class="button btn-event btn--blue btn--big"
                    ng-click="join()"
                    ng-bind="joinText">
            </button>
            <!--<a href="#" class="button btn-event btn&#45;&#45;blue btn&#45;&#45;big">Повідомлення</a>-->
        </h3>

        <div class="event__content">
            <img src="images/events/{{::event.photo}}" alt="avatar" class="events__ava"/>
            <div class="event__info">
                <h6 class="events__name" ng-bind="::event.name"></h6>
                <p>
                    <span ng-bind="::event.date_start | date : 'hh:mm dd:MM:yyyy'"></span> -
                    <span ng-bind="::event.date_end | date : 'hh:mm dd:MM:yyyy'"></span>
                </p>
                <p ng-bind="::event.address"></p>
            </div>
            <p class="event__text" ng-bind-html="getHTML(event.description)"></p>
        </div>
    </article>


    <ul class="msg">

        <li class="msg__wrap js-clicked">

            <div class="msg__items">
                <ul>
                    <li ng-repeat="item in commments">
                        <span class="msg_item_delete_wrap">
                            <a class="icon_msg_item_delete" href=""></a>
                        </span>

                        <time class="msg_time"
                              datetime="{{::item.createDate}}"
                              ng-bind="::item.createDate | date : 'H:MM dd:MM:yyyy'">
                        </time>

                        <a class="user_icon"
                           ng-href="#/user/{{ ::item.user.idUser }}"
                           style="background-image: url(images/users/{{ ::item.user.photo }})"></a>

                        <article class="msg_item_container">
                            <a class="msg_item_name"
                               ng-href="#/user/{{ ::item.user.idUser }}"
                               ng-bind="::item.user.name">
                            </a>
                            <p class="msg_item_text" ng-bind="::item.text"></p>
                        </article>
                    </li>
                </ul>
            </div>

            <div class="msg__area">
                <form class="send-msg">
                    <div class="msg_frame">
                        <textarea class="msg-box-input" ng-model="comment"></textarea>
                    </div>
                    <div class="msg_controls">
                        <input class="send-msg-btn" type="submit" value="{{::lang.btn.send}}" ng-click="addComment()">
                    </div>
                </form>
            </div>

        </li>

    </ul>

</div>