
<div class="container">

    <ul class="filter">
        <li class="filter__item">
            Місто
        </li>
        <li class="filter__item">
            Вік
        </li>
        <li class="filter__item">
            Стать
        </li>
        <li class="filter__item">
            Навички
        </li>
    </ul>

</div>


<div class="container">

    <ul class="friends">

        <li class="friends__item">
            <img src="http://bit.ly/1OnlZbL" alt="" class="friends__item__img"/>

            <article class="friends__item__container">
                <h4 class="friends__item__name">Name</h4>
                <p class="friends__item__text activity">
                    Організатор заходів
                </p>
                <p class="friends__item__text age">
                    28 років
                </p>
                <div class="actions">
                    <a href="#" class="friends__action send__message">Написати повідомлення</a>
                    <a href="#" class="friends__action delete">Видалити з кола</a>
                </div>
            </article>
        </li>

    </ul>

</div>