
<!--<div class="container filter-line">-->

<!--</div>-->


<div class="container">

    <ul class="friends">

        <li class="friends__item" ng-repeat="user in users">
            <img src="http://bit.ly/1OnlZbL" alt="" class="friends__item__img"/>

            <article class="friends__item__container">
                <h4 class="friends__item__name">Name</h4>
                <p class="friends__item__text activity">
                </p>
                <!--<p class="friends__item__text age">-->
                    <!--28 років-->
                <!--</p>-->
                <div class="actions">
                    <a href="#" class="friends__action send__message" ng-click="setMessage(user.idUser)">Написати повідомлення</a>
                    <a href="#" class="friends__action delete" ng-click="friend()">Видалити з кола</a>
                </div>
            </article>
        </li>

    </ul>

</div>