<div class="container filter-line">

    <div class="filter">
        Місто
        <ul class="filter__list">
            <li class="filter__list__item"
                ng-repeat="item in ::city"
                ng-click="selectCity(item.idCity)"
                ng-bind="::item.name"
                is-check>
            </li>
        </ul>
    </div>

    <button class="button btn-event btn--blue btn--big">Створити</button>

</div>


<main class="container">
    <section id="map" class="g-maps" gmap></section>
</main>