<div class="container">

    <a class="link_message_type is-active" href="#">Вхідні</a>
    <a class="link_message_type" href="#">Надіслані</a>

</div>


<div class="container">

    <ul class="msg">

        <li class="msg__wrap">

            <div class="msg__items">
              <ul>
                <li>
                    <span class="msg_item_delete_wrap"><a class="icon_msg_item_delete" href=""></a></span>
                    <time class="msg_time" datetime="12.06.93">2 дні назад</time>
                    <a href="#" class="user_icon"></a>
                    <article class="msg_item_container">
                        <h4 class="msg_item_name">Name Surname</h4>
                        <p class="msg_item_text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </article>
                </li>

                 <li>
                     <span class="msg_item_delete_wrap"><a class="icon_msg_item_delete" href=""></a></span>
                     <time class="msg_time" datetime="12.06.93">2 дні назад</time>
                     <a href="#" class="user_icon"></a>
                     <article class="msg_item_container">
                         <h4 class="msg_item_name">Name Surname</h4>
                         <p class="msg_item_text">
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                         </p>
                     </article>
                 </li>

              </ul>
            </div>

            <div class="msg__area">
                <form class="send-msg" action="">
                    <div class="msg_frame">
                        <textarea class="msg-box-input"></textarea>
                    </div>
                    <div class="msg_controls">
                        <input class="send-msg-btn" type="submit" value="Відправити"/>
                        <a class="msg-attach" href="#">Прикріпити</a>
                    </div>
                </form>
            </div>

        </li>

    </ul>

</div>