
<div class="container filter-line">

    <div class="btn-two">
        <button class="btn is-active">Організації</button>
        <button class="btn ">Компанії</button>
    </div>

    <div class="filter">
        Сфера діяльності
        <ul class="filter__list">
            <li class="filter__list__item">
                АТО
            </li>
            <li class="filter__list__item">
                Лікарні
            </li>
            <li class="filter__list__item">
                Покраска мостів в синьо жовтий колір
            </li>
        </ul>
    </div>

    <button ng-click="openPopup('addOrganization')" class="btn btn-event btn--blue btn--big">Створити</button>

</div>


<div class="container">

    <ul class="events organizations">

        <li class="events__item organization__item">
            <img src="images/img1.png" alt="" class="events__item__img"/>

            <article class="events__item__container">
                <h4 class="events__item__title">Прибирання тереторії</h4>
                <p class="events__item__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua.
                </p>
                <p class="events__text-info">
                    Міста: Київ, Одеса, Львів, Харьків
                </p>
                <p class="events__text-info">
                    Сайт:
                    <a class="c-blue" href="www.jciyoth.com">www.jciyoth.com</a>
                </p>
            </article>
        </li>

    </ul>

</div>
