
<div class="container filter-line">

    <div class="btn-two">
        <button class="button"
                ng-class="type == 1 ? 'is-active' : ''"
                ng-click="type = 1">Організації</button>
        <button class="button"
                ng-class="type == 2 ? 'is-active' : ''"
                ng-click="type = 2">Компанії</button>
    </div>

    <div class="filter">
        Сфера діяльності
        <ul class="filter__list">
            <li class="filter__list__item"
                ng-repeat="s in scopes"
                ng-bind="s.name"></li>
        </ul>
    </div>

    <button ng-click="openPopup('addOrganization')" class="button btn-event btn--blue btn--big">Створити</button>

</div>


<div class="container">

    <ul class="events organizations" ng-if="type == 1">

        <li class="events__item organization__item" ng-repeat="item in organizations">
            <img ng-src="images/{{item.cover}}" alt="" class="events__item__img"/>

            <article class="events__item__container">
                <h4 class="events__item__title" ng-bind="item.description"></h4>
                <p class="events__item__text" ng-bind="item.description"></p>
                <p class="events__text-info">
                    Міста: Київ, Одеса, Львів, Харьків
                </p>
                <p class="events__text-info">
                    Сайт:
                    <a class="c-blue" ng-href="item.site" ng-bind="item.site"></a>
                </p>
                <a href="/index_blog.html"></a>
            </article>
        </li>

    </ul>

    <ul class="events organizations" ng-if="type == 2">

        <li class="events__item organization__item" ng-repeat="item in companies">
            <img ng-src="images/{{item.cover}}" alt="" class="events__item__img"/>

            <article class="events__item__container">
                <h4 class="events__item__title" ng-bind="item.description"></h4>
                <p class="events__item__text" ng-bind="item.description"></p>
                <p class="events__text-info">
                    Міста: Київ, Одеса, Львів, Харьків
                </p>
                <p class="events__text-info">
                    Сайт:
                    <a class="c-blue" ng-href="item.site" ng-bind="item.site"></a>
                </p>
                <a href="/index_blog.html"></a>
            </article>
        </li>

    </ul>

</div>
