
<div class="container">

    <ul class="events organizations">

        <li class="events__item organization__item">
            <img src="images/img1.png" alt="" class="events__item__img"/>

            <article class="events__item__container">
                <h4 class="events__item__title">Прибирання тереторії</h4>
                <p class="events__item__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua.
                </p>
                <p class="events__text-info">
                    Міста: Київ, Одеса, Львів, Харьків
                </p>
                <p class="events__text-info">
                    Сайт:
                    <a class="c-blue" href="www.jciyoth.com">www.jciyoth.com</a>
                </p>
            </article>
        </li>

    </ul>

</div>