
<div class="container filter-line">

    <div class="btn-two">
        <button class="btn is-active">Організації</button>
        <button class="btn ">Компанії</button>
    </div>

    <div class="filter">
        Сфера діяльності
        <ul class="filter__list">
            <li class="filter__list__item">
                АТО
            </li>
            <li class="filter__list__item">
                Лікарні
            </li>
            <li class="filter__list__item">
                Покраска мостів в синьо жовтий колір
            </li>
        </ul>
    </div>

    <button href="#" class="btn btn-event btn--blue btn--big">Створити</button>

</div>


<div class="container">

    <ul class="events organizations">

        <li class="events__item organization__item">
            <img src="images/img1.png" alt="" class="events__item__img"/>

            <article class="events__item__container">
                <h4 class="events__item__title">Прибирання тереторії</h4>
                <p class="events__item__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua.
                </p>
                <p class="events__text-info">
                    Міста: Київ, Одеса, Львів, Харьків
                </p>
                <p class="events__text-info">
                    Сайт:
                    <a class="c-blue" href="www.jciyoth.com">www.jciyoth.com</a>
                </p>
            </article>
        </li>

    </ul>

</div>

<!-- Modal window for Company -->
<div class="modal-layout">
    <div class="modal-company">
        <h2>Створення компанії</h2>
        <div class="modal-company__wrap">
            <form class="modal-company__form">
                <span>Назва</span>
                <textarea class="company-name" cols="130" rows="3"></textarea>
                <span>Тип</span>
                <label><input type="radio"/>організація</label>
                <label><input type="radio"/>компанія</label>
                <span>Сфера діяльності</span>
                <div class="activity-input-group">
                    <label><input type="radio"/>благодійність</label>
                    <label><input type="radio"/>екологія</label>
                    <label><input type="radio"/>спорт</label>
                    <label><input type="radio"/>мистецтво/культура</label>
                    <label><input type="radio"/>охорона здоров`я</label>
                    <label><input type="radio"/>захист прав</label>
                    <label><input type="radio"/>бізнес</label>
                    <label><input type="radio"/>освіта і наука</label>
                    <label><input type="radio"/>інше</label>
                </div>
                <span>Опис</span>
                <textarea class="company-description" cols="130" rows="12"></textarea>
                <span>Сайт</span>
                <textarea class="company-site" cols="130" rows="3"></textarea>
                <label><input type="checkbox"/>Я згоден з умовами використання ресурсу та даю згоду на обробку даних</label>
                <button type="submit" class="btn btn-event btn--blue btn--big">Створити</button>
            </form></div>
    </div>
</div>
<!-- END Modal Window-->