<div class="rg-banner">
    <div class="rg-banner__overlay" ng-init="sw = 1">
        <div class="container container--min">
            <div class="rg-banner__header">
                <a href="#">
                    <img class="rg-banner__logo" src="images/design/h_logo.png" height="20" width="178" alt="">
                </a>
                <a href=""
                   ng-click="login()"
                   class="rg-banner__btn"
                   ng-bind="::lang.header.enter"></a>
            </div>
            <h1 class="rg-banner__title" ng-bind="::lang.registration.header"></h1>

            <div class="rg-banner__stage">
                <a class="dot-item" ng-click="sw = 1" ng-class="{'dot-item--active': sw === 1}" href="">1</a>
                <span class="line-item"></span>
                <a class="dot-item" ng-click="sw = 2" ng-class="{'dot-item--active': sw === 2}" href="">2</a>
                <span class="line-item"></span>
                <a class="dot-item" ng-click="sw = 3" ng-class="{'dot-item--active': sw === 3}" href="">3</a>
            </div>

            <div class="rg-banner__form">
                <form name="reg">
                    <div ng-show="sw === 1" class="first-stage narrow">
                        <label>
                            <span ng-bind="::lang.registration.form.name"></span>
                            <div class="rg-input-wrap">
                                <i class="sprite-name"></i>
                                <input class="rg-input" ng-model="r.name" type="text" required>
                            </div>
                        </label>
                        <label>
                            <span ng-bind="::lang.registration.form.email"></span>
                            <div class="rg-input-wrap">
                                <i class="sprite-mail"></i>
                                <input class="rg-input" ng-model="r.email" type="email" required>
                            </div>
                        </label>
                        <label>
                            <span ng-bind="::lang.registration.form.pass"></span>
                            <div class="rg-input-wrap">
                                <i class="sprite-lock"></i>
                                <input class="rg-input" ng-model="r.pass" type="password" required>
                            </div>
                        </label>
                        <button ng-click="sw = 2" class="rg-btn">Продовжити</button>
                    </div>
                    <!-- /first-stage -->
                    <div ng-show="sw === 2" class="second-stage narrow">
                        <label>
                            <span ng-bind="::lang.registration.form.city"></span>
                            <div class="rg-input-wrap">
                                <i class="sprite-map"></i>
                                <select class="rg-input" ng-model="r.idcity">
                                    <option ng-repeat="item in city" value="{{item.idCity}}" ng-bind="item.name"></option>
                                </select>
                            </div>
                        </label>
                        <label>
                            <span ng-bind="::lang.registration.form.birthdate"></span>
                            <div class="rg-input-wrap">
                                <i class="sprite-calendar"></i>
                                <input class="rg-input" ng-model="r.date" type="date" required>
                            </div>
                        </label>
                        <label>
                            Стать
                            <div class="rg-input rg-input--sex">
                                <input type="radio" ng-model="r.gender" name="sex" id="male" value="male">
                                <label for="male" ng-bind="::lang.registration.form.woman"></label>
                                <input type="radio" ng-model="r.gender" name="sex" id="female" value="female">
                                <label for="female" ng-bind="::lang.registration.form.man"></label>
                            </div>
                        </label>
                        <button ng-click="sw = 3" class="rg-btn"
                                ng-bind="::lang.registration.form.continue"></button>
                    </div>
                    <!-- /second-stage -->
                    <div ng-show="sw === 3" class="third-stage">
                        <div class="third-stage__item">
                            <span ng-bind="::lang.registration.form.toHelp + ':'"></span>
                            <br><br><br>
                            <label ng-repeat="category in categories track by $index">
                                <input type="checkbox"
                                       checklist-model="r.categories"
                                       checklist-value="category.idCategory"/>
                                <span ng-bind="category.name"></span>
                            </label>
                        </div>
                        <div class="third-stage__item">
                            <span ng-bind="::lang.registration.form.skills + ':'"></span>
                            <br><br><br>
                            <label ng-repeat="skill in skills track by $index">
                                <input type="checkbox"
                                       checklist-model="r.skills"
                                       checklist-value="skill.idSkill"/>
                                <span ng-bind="skill.name"></span>
                            </label>
                        </div>
                        <a href=""
                           ng-click="registr()"
                           class="rg-btn narrow"
                           ng-bind="::lang.registration.form.registration"></a>
                    </div>
                    <!-- /third-stage -->
                </form>
                <div class="rg-checkbox-wrap">
                    <label>
                        <input class="rg-checkbox" type="checkbox" required>
                        <span ng-bind="::lang.registration.form.dataProcessing"></span>
                    </label>
                </div>
            </div>
        </div>
        <!-- /container -->
    </div>
</div>
<!-- /rg-banner -->
<div class="rg-content">
    <h2 class="rg-content__title" ng-bind="'FORSOCIAL — ' + lang.registration.info.title + ' !'"></h2>

    <h3 class="rg-content__descript" ng-bind="::lang.registration.info.subTitle + '?'"></h3>

    <ul class="rg-list">
        <li class="rg-item" ng-repeat="item in ::lang.registration.info.item track by $index">
            <img class="rg-item__img" src="images/design/icon/rg_{{::$index + 1}}.png" alt="">
            <h4 class="rg-item__title" ng-bind="::item.title"></h4>
            <p class="rg-item__descript" ng-bind="::item.text"></p>
        </li>
    </ul>
</div>
