<div class="rg-banner-wrap">
	<div class="rg-banner">
		<div class="rg-banner__overlay">
			<div class="container">
				<div class="rg-banner__header">
					<a href="#"><img class="rg-banner__logo" src="../../images/design/h_logo.png" height="20" width="178" alt=""></a>
					<a href="#" class="rg-banner__btn">Увійти</a>
				</div>
				<h1 class="rg-banner__title">Вирішуємо великі та маленькі проблеми!</h1>
				<div class="rg-banner__stage">
					<a class="dot-item dot-item--active" href="#">1</a>
					<span class="line-item"></span>
					<a class="dot-item" href="#">2</a>
					<span class="line-item"></span>
					<a class="dot-item" href="#">3</a>
				</div>
				<div class="rg-banner__form">
					<form action="">
						<label>Прізвище та ім'я
							<div class="rg-input-wrap">
								<i class="sprite-name"></i>
								<input class="rg-input" type="text" required>
							</div>
						</label>
						<label>Email
							<div class="rg-input-wrap">
								<i class="sprite-mail"></i>
								<input class="rg-input" type="email" required>
							</div>
						</label>
						<label>Пароль
							<div class="rg-input-wrap">
								<i class="sprite-lock"></i>
								<input class="rg-input" type="password" required>
							</div>
						</label>
						<a href="#" class="rg-btn">Продовжити</a>
						<div class="rg-checkbox-wrap">
							<label>
								<input class="rg-checkbox" type="checkbox"> Згода на обробку даних</label>
						</div>
					</form>
				</div>
			</div>
			<!-- /container -->
		</div>
	</div>
</div>
<!-- /rg-banner-wrap -->
<div class="rg-content">
	<h2 class="rg-content__title">FORSOCIAL — територія небайдужих!</h2>
	<h3 class="rg-content__descript">Хочеш допомогти або шукаєш допомогу?</h3>

	<div class="rg-item">
		<img class="rg-item__img" src="../../images/design/icon/rg_1.png" alt="">
		<h4 class="rg-item__title">Можливість</h4>
		<p class="rg-item__descript">Тебе почують тисячі волонтерів по всій Україні</p>
	</div>
	<!-- /rg-content__item -->
	<div class="rg-item">
		<img class="rg-item__img" src="../../images/design/icon/rg_2.png" alt="">
		<h4 class="rg-item__title">ШВИДКІСТЬ</h4>
		<p class="rg-item__descript">Ти знайдеш швидке вірішення своєї проблеми</p>
	</div>
	<!-- /rg-item -->
	<div class="rg-item">
		<img class="rg-item__img" src="../../images/design/icon/rg_3.png" alt="">
		<h4 class="rg-item__title">ОБ’єднання</h4>
		<p class="rg-item__descript">Залучи однодумців до спільної реалізації твого проекту</p>
	</div>
	<!-- /rg-item -->
	<div class="rg-item">
		<img class="rg-item__img" src="../../images/design/icon/rg_4.png" alt="">
		<h4 class="rg-item__title">ДОПОМОГА</h4>
		<p class="rg-item__descript">Зроби чиєсь життя світлішим та&nbsp;покращи свою карму
		</p>
	</div>
	<!-- /rg-item -->
	<div class="rg-item">
		<img class="rg-item__img" src="../../images/design/icon/rg_5.png" alt="">
		<h4 class="rg-item__title">вибір</h4>
		<p class="rg-item__descript">Знаходь нові волонтерські можливості відповідно до твоїх вподобань</p>
	</div>
	<!-- /rg-item -->
	<div class="rg-item">
		<img class="rg-item__img rg-item__img--ver" src="../../images/design/icon/rg_6.png" alt="">
		<h4 class="rg-item__title">МАСШТАБНІСТЬ</h4>
		<p class="rg-item__descript">Cтань частиною наймаштабнішого руху небайдужих</p>
	</div>
	<!-- /rg-item -->
</div>
