<div class="container">


    <article class="user">
        <h3 class="user__title">
            <span ng-bind="user.name"></span>
            <a href="#" class="button btn-event btn--blue btn--big" ng-bind="::lang.header.mess"></a>
        </h3>

        <div class="user__info">
            <figure class="user__ava">
                <upload-file url="user.photo"></upload-file>
            </figure>

            <div class="user__info__item">
                <span class="user__tel contacts-sprite">
                    <input ng-if="edit" type="text" ng-blur="updateInfo()" ng-model="user.phone1"/>
                    <span ng-if="!edit" ng-bind="user.phone1"></span>
                </span>
                <span class="user__tel contacts-sprite">
                    <input type="text" ng-if="edit" ng-blur="updateInfo()" ng-model="user.phone2"/>
                    <span ng-if="!edit" ng-bind="user.phone2"></span>
                </span>
                <a href="mailto:{{user.email}}" ng-bind="user.email"></a>
                <span class="user__fb contacts-sprite">
                    <input type="text" ng-if="edit" ng-blur="updateInfo()" ng-model="user.fb">
                    <a href="https://www.facebook.com/{{user.fb}}" ng-if="!edit" ng-bind="user.fb"></a>
                </span>
                <!--<input class="user__address contacts-sprite">-->
            </div>

            <div class="user__info__item">
                <p class="scale">
                    <span ng-bind="::lang.cabinet.rate2"></span>
                    <span ng-bind="rating"></span>
                    <span>/10</span>
                </p>
                <!--<p class="hours">Соціально-активних годин: <span>299</span></p>-->
                <p class="project-num">
                    Кількість проектів:
                    <span ng-bind="::user.events.length"></span>
                </p>
                <p>
                    <span ng-bind="::lang.filter.city + ':'"></span>
                    <select ng-if="edit" ng-blur="updateInfo()">
                        <option ng-repeat="c in cites"
                                selected="{{user.city.idCity === c.idCity}}"
                                ng-value="c.idCity"
                                ng-bind="c.name">
                        </option>
                    </select>
                    <span ng-if="!edit" ng-bind="city.name"></span>
                </p>
                <p>
                    <span ng-bind="::lang.cabinet.birthdate + ':'"></span>
                    <input type="date" ng-if="edit" ng-blur="updateInfo()" ng-model="user.birthdate"/>
                    <span ng-if="!edit" ng-bind="user.birthdate"></span>
                </p>
            </div>

        </div>

        <h1 class="user__slider__title">Галерея проектів:</h1>
        <div class="user__slider">
            <a my-slider="slides"
               ng-repeat="item in ::user.events"
               ng-href="#/event/{{item.idEvent}}">
                <img ng-src="{{::item.cover}}" alt="{{::item.title}}"/>
            </a>
        </div>

        <div class="user__about">

            <p class="interests">
                Інтереси:
                <span class="interests-item"
                      ng-repeat="item in ::user.skills">
                    <span ng-bind="::item.name | lowercase"></span>
                    <span ng-if="!$last">, </span>
                </span>
            </p>
            <p class="skills">
                Навички:
                <span class="interests-item"
                      ng-repeat="item in user.categories"
                      ng-bind="item.name | lowercase">
                </span>
            </p>

            <p class="activity" ng-bind="::lang.cabinet.historyActivity + ':'"></p>

            <nav class="activity-log">
                <a class="activity-log-item"
                    ng-href="#/event/{{item.idEvent}}"
                    ng-repeat="item in user.events">

                    <span class="activity-log-date">
                        "<time ng-bind="item.date_start | date : 'dd.mm.yyyy'"></time>"
                    </span>
                    <p class="activity-log-title" ng-bind="item.title"></p>
                </a>
            </nav>

            <p class="rate" ng-bind="::lang.cabinet.rate + ':'"></p>
            <ul class="user__rate">
                <li class="user__rate__item"
                    ng-repeat="i in ::[0, 1, 2, 3, 4 ,5, 6, 7, 8, 9] track by $index"
                    ng-click="setRating($index)"
                    user-ratestyle="::$index"></li>
            </ul>
        </div>

    </article>


    <div class="user__feedback__container">
        <p class="user__feedback" ng-bind="::lang.cabinet.reviews + ':'"></p>
        <ul class="msg">

            <li class="msg__wrap js-clicked">

            </li>

        </ul>
    </div>

</div>