<div class="container">


    <article class="user">
        <h3 class="user__title">
            <span ng-bind="user.name"></span>
            <a href="#" class="button btn-event btn--blue btn--big" ng-click="">Повідомлення</a>
        </h3>

        <div class="user__info">

            <img src="images/img1.png" alt="" class="user__ava "/>

            <!--<div class="user__info__item">-->
                <!--<span class="user__tel contacts-sprite">-->
                    <!--<input class="user__data" b-ng-model=""/>-->
                    <!--<input class="user__data" b-ng-model=""/>-->
                <!--</span>-->
                <!--<a href=""-->
                   <!--class="user__fb contacts-sprite"-->
                   <!--ng-bind="::user.email">-->
                <!--</a>-->
                <!--<input class="user__address contacts-sprite" b-ng-model="">-->
            <!--</div>-->

            <div class="user__info__item">
                <p class="scale">Рейтинг:
                    <span ng-bind="rating"></span>
                    <span>/10</span>
                </p>
                <!--<p class="hours">Соціально-активних годин: <span>299</span></p>-->
                <p class="projectsnum">
                    Кількість проектів: <span ng-bind="::user.events.length"></span>
                </p>
            </div>

        </div>

        <h1 class="user__slider__title">Галерея проектів:</h1>
        <div class="user__slider">
            <a my-slider="slides"
               ng-repeat="item in ::user.events"
               ng-href="#/event/{{item.idEvent}}">
                <img ng-src="{{::item.cover}}" alt="{{::item.title}}"/>
            </a>
        </div>

        <div class="user__about">

            <p class="interests">
                Інтереси:
                <span class="interests-item"
                      ng-repeat="item in ::user.skills">
                    <span ng-bind="::item.name | lowercase"></span>
                    <span ng-if="!$last">, </span>
                </span>
            </p>
            <p class="skills">
                Навички:
                <span class="interests-item"
                      ng-repeat="item in user.categories"
                      ng-bind="item.name | lowercase">
                </span>
            </p>

            <p class="activity">Історія активностей:</p>

            <nav class="activity-log">
                <a class="activity-log-item"
                    ng-href="#/event/{{item.idEvent}}"
                    ng-repeat="item in user.events">

                    <span class="activity-log-date">
                        "<time ng-bind="item.date_start | date : 'dd.mm.yyyy'"></time>"
                    </span>
                    <p class="activity-log-title" ng-bind="item.title"></p>
                </a>
            </nav>

            <p class="rate">Оцінити: </p>
            <ul class="user__rate">
                <li class="user__rate__item"
                    ng-repeat="i in ::[0, 1, 2, 3, 4 ,5, 6, 7, 8, 9] track by $index"
                    ng-click="setRating($index)"
                    user-ratestyle="::$index"></li>
            </ul>
        </div>

    </article>


    <div class="user__feedback__container">
        <p class="user__feedback">Відгуки:</p>
        <ul class="msg">

            <li class="msg__wrap js-clicked">

            </li>

        </ul>
    </div>

</div>