.rg-banner
	background: url('../../images/design/registration_bg.jpg') no-repeat
	background-size: cover
	&__overlay
		background: rgba(#202f3e, .5)
		padding: 3.5rem 0 4.5rem
	&__header
		@extend .clearfix
	&__logo
		width: 178px
		height: 20px
		float: left
	&__btn
		float: right
		font-weight: 400
	&__title
		font-size: 3.2rem
		font-weight: 100
		color: #fff
		margin: 6rem 0 3rem
		text-align: center

